<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <add name="connString" connectionString="Server=.;DataBase=DemoDb;Uid=sa;Pwd=torch"/>
   <!--  <add name="connString" connectionString="Server=IBM\SERVER2012;DataBase=HQ;Uid=sa;Pwd=torch"/>-->
  </connectionStrings>
  <appSettings>
    <add key="BOMUri" value="http://192.168.1.166:8008/upload/1.txt"/>
    <add key="CSTUri" value="http://192.168.1.166:8008/upload/1.txt"/>
    <add key="tableName" value="ODS"/>
    <add key="FilePath" value="d:\EXCELInput\r_解.xlsx"/>
  </appSettings>
</configuration>